@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Playfair Display, serif;
}

.custom-gradient-sidebar {
  background: linear-gradient(to right, #A40B52, #3E041F);
  background-size: 600% 100%;
}

/* Add this to your CSS file */
.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

